<CONVEYOR>
	<SYSTEM_PATH>
		<CODE_PATH>/home/rushikesh/insightzz/MANIKGARH/FrameCapture/</CODE_PATH>
    	<LOG_FILE_PATH>/home/rushikesh/insightzz/MANIKGARH/FrameCapture/LOGS/</LOG_FILE_PATH>
    	<LOG_BACKUP_COUNT>5</LOG_BACKUP_COUNT>
    	<RAW_IMAGE_BOTH>/home/rushikesh/insightzz/MANIKGARH/FrameCapture/CAMERA_DATA/RAW_IMAGE/</RAW_IMAGE_BOTH>
    	<TOP_IMAGE_PATH>/home/rushikesh/insightzz/MANIKGARH/FrameCapture/CAMERA_DATA/TOP_IMAGE/</TOP_IMAGE_PATH>
    	<BOTTOM_IMAGE_PATH>/home/rushikesh/insightzz/MANIKGARH/FrameCapture/CAMERA_DATA/BOTTOM_IMAGE/</BOTTOM_IMAGE_PATH>
    	<FRAME_START_INFO_FILE_PATH>/home/rushikesh/insightzz/MANIKGARH/FrameCapture/START.txt</FRAME_START_INFO_FILE_PATH>
	</SYSTEM_PATH>
	<DATABASE_DETAILS>
		<DB_USER>root</DB_USER>
	    <DB_PASS>Insightzz@123</DB_PASS>
	    <DB_HOST>localhost</DB_HOST>
	    <DB_NAME>MANIKGARH_CONVEYOR_DB</DB_NAME>
	</DATABASE_DETAILS>
	<CAMERA_DETAILS>
		<TOP_CAMERA_ID>22644443</TOP_CAMERA_ID>
		<BOTTOM_CAMERA_ID>22502773</BOTTOM_CAMERA_ID>
	</CAMERA_DETAILS>
	<CONFIG_DETAILS>
		<SAVE_RAW_IMAGE_FLAG>0</SAVE_RAW_IMAGE_FLAG>
		<BELT_CYCLE_DURATION>40</BELT_CYCLE_DURATION> <!-- Duration of belt cycle in minutes -->
	</CONFIG_DETAILS>
    <PLC_DETAILS>
    	<PLC_IP_ADDRESS>192.168.1.5</PLC_IP_ADDRESS>
    	<PLC_WRITE_DB_NUMBER>12</PLC_WRITE_DB_NUMBER>
    	<PLC_READ_DB_NUMBER>13</PLC_READ_DB_NUMBER>
    </PLC_DETAILS>
	<MQTT_CONFIG>
      <MQTT_BROKER>localhost</MQTT_BROKER>  
      <MQTT_PORT>1883</MQTT_PORT>  
      <MQTT_TOPIC>plc/distance</MQTT_TOPIC>  
  </MQTT_CONFIG>
</CONVEYOR>








